body{
	background: skyblue;
	margin: 0 auto;
	overflow: hidden;
}

h1{
	margin-top: 50px;
	text-align: center;
}

input{
	height: 30px;
	margin-top: 200px;
	

}

button{
	height: 30px;
}

 h3{
 	text-align: center;
 }

 .birthPlace{
 	margin-top: 20px;
 }


 