body{
	background: skyblue;
	margin: 0 auto;
	overflow: hidden;
}

h1{
	margin-top: 50px;
	
}

input{
	height: 30px;
	margin-top: 200px;
	

}

button{
	height: 30px;
}

 /*h3{
 	margin-left: 400px;
 	margin-top: 20px;
 }*/

 .birthPlace{
 	margin-top: 20px;
 }


 